<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Reading | A Little Project By Henry Desroches</title>
  <meta name="description"
    content="A website to track the author’s recent reading. What a joy it is to find oneself lost in a book.">

  <meta property="og:url" content="https://reading.henry.codes">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Reading | A Little Project By Henry Desroches">
  <meta property="og:description"
    content="A website to track the author’s recent reading. What a joy it is to find oneself lost in a book.">
  <meta property="og:image" content="https://reading.henry.codes/img/og.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="reading.henry.codes">
  <meta property="twitter:url" content="https://reading.henry.codes">
  <meta name="twitter:title" content="Reading | A Little Project By Henry Desroches">
  <meta name="twitter:description"
    content="A website to track the author’s recent reading. What a joy it is to find oneself lost in a book.">
  <meta name="twitter:image" content="https://reading.henry.codes/img/og.jpg">

  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
  <nav class="nav">
    <div class="nav__inner">
      <a class="nav__brand" href="/">✷ FW22</a>
      <div class="nav__credit">A little project by <a href="https://henry.codes">Henry From Online</a></div>
    </div>
  </nav>
  <div data-taxi>
    {{ content }}
  </div>
  <!-- <img src="/img/film-texture.jpg" alt="" class="overlay" /> -->
  <script src="/js/index.js"></script>
</body>

</html>